.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.listContainer {
  overflow-y: auto;
  padding: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  padding: 8px 0;
  position: relative;
}

.listItem.selected {
  outline: solid 2px #1890ff;
  border-radius: 8px;
}

.hoverable:hover {
  cursor: pointer;
  outline: solid 2px #69c0ff;
  border-radius: 8px;
}

.hoverable:hover .swapIcon {
  color: #69c0ff;
  display: block;
}

.swapIcon {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 2px;
  display: none;
}

.listItem.selected .swapIcon {
  display: block;
  color: #1890ff;
}

.memberDisplay {
  padding: 8px;
}

.addMemberContainer {
  margin-top: "12px";
  padding: 6px;
}
