.selected {
  outline: solid #1890ff;
  border-radius: 8px;
  position: relative;
}

.swapIcon {
  color: #1890ff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  display: none;
  padding: 2px;
}

.selected .swapIcon {
  display: block;
}
