.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.listContainer {
  overflow-y: auto;
  padding: 8px;
}

.listItem {
  position: relative;
  cursor: not-allowed;
}

.listItem.selected {
  cursor: pointer;
  outline: solid 2px #1890ff;
  border-radius: 8px;
}

.hoverable:hover {
  cursor: pointer;
  outline: solid 2px #69c0ff;
  border-radius: 8px;
}

.hoverable:hover .swapIcon {
  color: #69c0ff;
  display: block;
}

.swapIcon {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  display: none;
  padding: 2px;
}

.listItem.selected .swapIcon {
  display: block;
  color: #1890ff;
}

.memberDisplay {
  padding: 0 8px;
}

.addMemberContainer {
  padding-top: 2px !important;
  padding: 2px 6px 4px 6px;
}
